* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #222;
  color: white;
}

#root {
  margin: auto;
  width: 720px;
}

.demo-container {
  margin: 50px 0;
  background-color: black;
  position: relative;
  width: 720px;
  height: 405px;
  overflow: hidden;

  p {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-size: 1.5rem;
  }
}

.dot {
  position: absolute;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 3px white;
    border-radius: 50%;
    translate: -50% -50%;
  }

  &.rotate {
    &:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 50px;
      background-color: white;
      top: 0;
      left: 0;
      transform-origin: 50% 0%;
      rotate: -180deg;
    }
  }
}

.dot-200 {
  &::before {
    width: 200px;
    height: 200px;
  }
}

.dot-400 {
  &::before {
    width: 400px;
    height: 400px;
  }
}

.ghost {
  opacity: 0.25;
}
